@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
/*
=============== 
Variables
===============
*/

:root {
    /* dark shades of primary color*/
    --clr-primary-1: #7971ea;
    --clr-primary-2: #4f45e3;
    --clr-primary-3: #392F5A;
    --clr-primary-4: #f50a0a;
    /* primary/main color */
    --clr-primary-5: #FF5252;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(206, 33%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }

/* Golabel */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.button{
    border: none;
    padding: 7px 20px;
    background: var(--clr-primary-5) !important;
    color: var(--clr-white) !important;
    font-family: 'Signika', sans-serif;
    font-size: 1rem !important;
    font-weight: 800;
    border-radius: 0px !important;
    transition: all 0.9s ease-in-out !important;
}
.button:hover{
    border: .1rem solid var(--clr-primary-5) !important;
    color: var(--clr-primary-5) !important;
    background: transparent !important;
}
.button-outline{
    border: 2px solid var(--clr-primary-5)!important;
    padding: 7px 20px;
    color: var(--clr-primary-5) !important;
    font-family: 'Signika', sans-serif;
    font-size: 1rem !important;
    font-weight: 800;
    border-radius: 0px !important;
    transition: all 0.7s linear !important;
}
.button-outline:hover{
    border: .1rem solid var(--clr-primary-5) !important;
    color: var(--clr-white) !important;
    background: var(--clr-primary-5);
}
.text-underline{
    height: 5px;
    width: 300px;
    border-radius: 50px;
    position: relative;
    margin: 30px auto;
    background:var(--clr-primary-4);
}
.text-underline-center{
    height: 8px;
    width: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    background:var(--clr-primary-5);

}
.defult-text{
    font-family: 'Signika', sans-serif;
}
.defult-color{
    color: var(--clr-primary-5);
}   


/* End of Globel */

/* Top Nav Bar */
.topnav{
    background: var(--clr-primary-5);
    height: fit-content;
    color: var(--clr-white);
}

.topnav-ul li{
    list-style: none;
    margin: 5px 25px;
    font-family: 'Signika', sans-serif;
    font-weight: 200;
    color: var(--clr-white);
}
.topnav .topnav-text{
    font-family: 'Signika', sans-serif;
}
.topnav-ul li .language{
    position: relative;
    display: -webkit-inline-box;
}
.currency-svg{
    width: 20px;
    margin: 0 10px 0 0;
}
#dropdownMenuLink{
    text-decoration: none;
    color: #000;
}
.topnav h3{
    position: relative;
    margin: 0px;
    font-size: 16px;
    padding: 5px 0px;
    color: #fff;
}
/*  Nav Bar */
.navbar-nav {
    position: relative;
    display: inline-flex;
    margin: auto;
}
.nav-link, .navbar-brand{
    font-family: 'Signika', sans-serif;
    font-size: 1.2rem;
    font-weight: 800 !important;
}
.navbar-brand{
    color: var(--clr-primary-5) !important;
}
.dropdown-menu{
    width: 100%;
}
.dropdown-item{
    border-bottom: 1px solid var(--clr-primary-5) !important;
    font-family: 'Signika', sans-serif;
    font-size: 0.9rem;
    color: var(--clr-primary-5) !important;
    padding: 10px !important;
    font-weight: 800 !important;
    
}
.search-input{
    border: 2px solid var(--clr-primary-5) !important;
    color: var(--clr-primary-5) !important;
    font-family: 'Signika', sans-serif;
    font-size: 0.9rem;
}


/* icon Section  */
.icon-section, .categories{
    background: var(--clr-primary-5);
}
.icon-svg{
    width: 100;
    margin-bottom: 20px;
   
}
.icon-svg img{
    width:70px;
   
}

/* Tending Products */

.product-img-container{
    position: relative;
    transition: all 0.9s ease-in;
    border: none !important;
}
.product-img-container:hover{
    background: rgba(0,0,0,.9);
    border: none !important;
}
.product-img{
    transition: all 0.8s linear;
}
.product-img-container:hover .product-img{
    opacity: 0.7;
}
.product-icon{
    position: absolute;
    font-size: 1rem;
    top: 7%;
    right: 7%;
    transform: translate(-7%, -7%);
    opacity: 0;
    transition: all 0.8s linear;
}
.product-img-container:hover .product-icon{
    opacity: 1;
}
/* category  */

.categorie-info {
    font-size: 2rem;
}

.categorie-info-img{
    width: 155px !important;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*  Banner section  */
.banner-info{
    position: relative;
    border: none !important;
    background: rgba(0,0,0,.9);
}
.banner-info img{
    opacity: 0.5;
    position: relative;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    margin: 5px;
    padding: 10px;
    color: #fff !important;
}
.banner-text h1{
    font-size: 1rem;
}
.banner-text p{
    font: .8rem;
    font-weight: 800;
}
/* Fixed Ad */
.fixed-ad{
    background: linear-gradient(rgba(0,0,0,.8), rgba(0, 0, 0, 0.726)), url('../assets/images/banner-18.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Responsive Media */
@media screen and (max-width: 425px){

    .carousel-item img{
       width: 100% !important;
    }
    .img-banner{
        margin-bottom: 0 !important;
    }
    .img-banner-ads{
        margin: 0 auto !important;
        position: relative;
        top: -21px;
    }
    
}


@media screen and (max-width: 768px){

    .topnav{
        display: none;
    }
    .img-banner-ads{
        margin: 0 auto !important;
        position: relative;
        top: -21px;
    }
    .img-ads{
        margin-top: 0 !important;
    }
}
